node_modules
vendor
packages/*/dist
apps/*/dist
apps/*/build
coverage

*.log

# ensure no secrets are committed
credentials.json
token.json

.nx/**/*
dist
.pnpm-store

*.local
*.vitest-temp.json
